/* 공통css */

body {
  font-family: "Pretendard Variable", sans-serif;
  word-break: keep-all;
  padding-top: 80px;
  padding-bottom: 80px;
}



img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.page-title {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.3;
  color: #350239;
  text-align: center;
}
.page-subtitle {
  width: 240px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 5px solid #262632a5;
  border-radius: 30px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #5f028d;
}
.btn {
  max-width: 500px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.4;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}
.btn-btn1 { /* 모의체험하기 */
  background-color: #5f77e4;
  box-shadow: 0 14px 0 #000a9a;
  color: #FFFFFF;
}
.btn-btn1:active {
  box-shadow: 0 4px 0 #5f028d;
  transform: translateY(10px);
}
.btn-btn2 { /*모의체험 링크 공유하기  */
  background-color: #1a3ac6;
  box-shadow: 0 14px 0 #010537;
  color: #FFFFFF;
}
.btn-btn2:active {
  box-shadow: 0 4px 0 #c21cec;;
  transform: translateY(10px);
}
.btn-btn3 { /* 모의체험 */
  background-color: #F2F4F6;
  box-shadow: 0 14px 0 #DFE1E2;
  color: #444444;
}
.btn-btn3:active {
  box-shadow: 0 4px 0 #DFE1E2;
  transform: translateY(10px);
}

.btn-small {
  max-width: 350px;
  height: 70px;
  margin-bottom: 30px;
  font-size: 26px;
}

/* 미디어쿼리 : 브라우저 작아지면 어떤 CSS을 추가할지 지정 */
@media (max-width: 640px) {
  body {
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .page-title {
    font-size: 40px;
  }
  .btn {
    font-size: 34px;
  }
}
