body {
  background-color: #EAF8FF;
  background-image: url("../images/result_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
 .character {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.result {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.result .box {
  min-height: 70px;
  margin-bottom: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  /* 줄높이를 폰트크기의 1.4배만큼 가지게 */
  line-height: 1.4;
  text-align: center;
}
.result h3 {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
}
.result .VpResults {
  height: 200px;
  display: flex;
  gap: 10px;
}
.result .VpResult {
  /* 가로너비 비율 */
  flex: 1;
  background-color: #FFFFFF;

  background-image: url("../images/result_star.png");
  /* star이미지 가운데정렬 */
  background-position: center center;
  /* star이미지 반복안되게 */
  background-repeat: no-repeat;
  border: 1px solid #a1d718;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.4;
  text-align: center;
}

/* 광고 배너 */
.result .lecture img {
  /* 브라우저 크기에 따라 100%보이게, 그럼 화면 안잘림 */
  width: 100%;
  margin-bottom: 40px;
}
